label(for=`${name}_${value}`,
class=(checked && 'selected'))
    input(
    type="radio",
    id=`${name}_${value}`,
    name=name, value=value,
    onchange="app.updateSources(this)",
    checked=checked)
    | #{label}